*{
    margin:0;
    padding:0;
    border:none;
    outline:none;
    text-decoration:none;
    box-sizing:border-box;
    font-family: 'Courier New', Courier, monospace;
    
}


.overall{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
}

.card{
    display:flex;
    flex-direction:column;
    align-items:center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.img-fit-control{
    max-height:20rem;
}